/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header h1{
    width: 144px;
    height: auto;
}
.fw-b{
	font-weight: bold;
}
.ta-c{
	text-align: center;
}
.pt-2{
	padding-top: 2px;
}
.pt-4{
	padding-top: 4px;
}
.pt-56{
	padding-top: 56px;
}
.pt-80{
	padding-top: 80px;
}
.pb-2{
	padding-bottom: 2px;
}
.pb-4{
	padding-bottom: 4px;
}
.pb-56{
	padding-bottom: 56px;
}
.pl-8{
	padding-left: 8px;
}
.pl-24{
	padding-left: 24px;
}
.pr-24{
	padding-right: 24px;
}
.m24{
	margin: 24px;
}
.m-4{
	margin: 4px;
}
.mt-2{
	margin-top: 2px;
}
.mt-4{
	margin-top: 4px;
}
.mt-16{
	margin-top: 16px;
}
.mt-32{
	margin-top: 32px;
}
.mt-80{
	margin-top: 80px;
}
.mt-112{
	margin-top: 112px;
}
.mb-2{
	margin-bottom: 2px;
}
.mb-40{
	margin-bottom: 40px;
}
.ml-8{
	margin-left: 8px;
}
.ml-60{
	margin-left: 60px;
}
.ml-120{
	margin-left: 120px;
}
.mr-8{
	margin-right: 8px;
}
.mr-120{
	margin-right: 120px;
}
.border-1-s-dg{
	border: 1px solid #525252;
}
.border-b-1-s-dg{
	border-bottom: 1px solid #525252;
}
.border-r-24{
	border-radius: 24px;
}
.border-r-108{
	border-radius: 108px;
}
.d-f{
	display: flex;
}
.fd-c{
	flex-direction: column;
}
.jc-c{
	justify-content: center;
}
.jc-fe{
	justify-content: flex-end;
}
.jc-sb{
	justify-content: space-between;
}
.jc-sa{
	justify-content: space-around;
}
.jc-se{
	justify-content: space-evenly;
}
.ai-c{
	align-items: center;
}
.ai-fe{
	align-items: flex-end;
}
.ai-b{
	align-items: baseline;
}

.m-w-592{
	max-width: 592px;
}
.m-w-1200{
	max-width: 1200px;
}
.w20{
	width: 20px;
}
.w24{
	width: 24px;
}
.w32{
	width: 32px;
}
.w216{
	width: 216px;
}
.bgc-lg{
	background-color: #F2F2F2;
	background-size: cover;
}

.img-box{
	position: relative;
}
.favorite{
	position: absolute;
	right: 22px;
	top: 19px;
}
.header-h3{
	color:black;
	font-size: 20px;
   }
.footer-copyright{
text-align: center;
	margin: 8px;
	border-top: 1px solid #000;
	padding-top: 16px;
}